.model-filter {
	&:hover,
	&.active {
		color: $primaryLinkColor;

		.btn-filter {
			color: $white;
			background: $primaryLinkColor;
		}
	}

	&:hover {
		cursor: pointer;
	}

	&.active {
		cursor: default;
	}

	&.disabled {
		opacity: 0.5;
		cursor: default;
		color: $darkGray;

		&:hover {
			color: $darkGray;
		}
	}
}

.btn-filter {
	width: 50px;
	height: 50px;
	border: solid 1px $lightGray;
	border-radius: 50%;
	padding: 3px;
	margin-bottom: 5px;
	font-size: 32px;

	&::before {
		position: relative;
		top: 3px;
	}
}

.models-content {
	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"] + label .model-title::after {
		content: "";
		font-family: '#{$project}-icons';
		position: absolute;
		top: 0;
		right: 0;
	}

	input[type="checkbox"]:checked + label .model-title::after {
		content: "";
		color: $primaryColor;
	}

	input[type="checkbox"]:disabled + label {
		opacity: 0.3;
	}

	label span {
		display: block;
	}
}

.model-item {
	transition: ease background .25s;

	&:hover {
		background: $lightGray;
	}
}
