<figure class="responsive format-mobile format-6x1 img-bg" style="background-image: url('modix-datadir/img/slide-01-mobile.jpg')">
	<img src="modix-datadir/img/slide-01.jpg" alt="{{ site.title }} Bannière" class="img-responsive h-v-center s-hide"/>

	<figcaption class="figcaption text-center invert">
		<div class="tiles-container-15 vertical-collapse">
			<div class="column s100 m100 l100">
				<div class="h1 figcaption-title">{{ site.title }}</div>
			</div>

			<div class="column s100 m100 l100">
				<div class="h3 lowercase regular">{{ site.address }}</div>
			</div>
		</div>
	</figcaption>
</figure>
