<section id="breadcrumb" class="container-full s-hide m-hide lm-show pos-relative">
	<div class="container container-padding-only">
		<div class="tiles-container-10 vertical-collapse">
			<div class="column block">
				<ul class="tiles-container-5 unstyle">
					{% for crumb in site.data.breadcrumb %}
						<li class="column">
							<a href="#" class="small{% if crumb.active == true %} active{% endif %}">{{ crumb.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
