<article class="column s100 m33 l33 pos-relative">
	<figure class="pos-relative overflow-hidden format-2x1 img-bg">
		<img src="modix-datadir/img/2x1/2x1_01.jpg" alt="{{ site.title }} – {{ site.description }}" class="img-responsive h-v-center"/>
	</figure>

	<figcaption class="figcaption m-text-{{ img.align }} l-text-{{ img.align }} {% if img.bg %} bg-diagonal{% endif %}">
		<div class="vert-align">
			<div class="tiles-container-5">
				<div class="column block">
					<div class="uppercase h4">Smart search</div>
				</div>

				<div class="figcaption-hr column block">
					<hr class="hr hr-highlight inline-block s25 m25 l25">
				</div>

				<div class="column block">
					<p class="modern-regular">Use our lifestyle search to <br>find your perfect match.</p>
				</div>

				<div class="column block">
					<a href="#" class="button btn-primary">Start a smart search <span class="{{ site.title | downcase }}-icons-right h6"></span></a>
				</div>
			</div>
		</div>
	</figcaption>
</article>
