<div class="column s50 m33 l25">
	<div class="tiles-container-3 text-center">
		<div class="column s100 m75 l100">
			<figure class="pos-relative overflow-hidden format-2x1">
				<img src="modix-datadir/img/2x1/{{ models.img | downcase }}.png" alt="{{ site.title }} {{ models.title }}" class="img-responsive h-v-center"/>
			</figure>
		</div>

		<div class="column block text-left">
			<div class="h4">{{ models.title }}</div>
		</div>

		<div class="column block text-left">
			<a href="#" class="underline">{{ models.count }} in stock <span class="{{ site.title | downcase }}-icons-right h6"></span></a>
		</div>
	</div>
</div>
