<section id="nagger" class="container-full pos-relative s-text-center">
	<div class="container container-no-border">
		<div class="tiles-container-10 s-space-5 vertical-collapse">
			<div class="column block">
				<div class="h5 font-regular uppercase">
					{{ site.title }} {{ site.town }} <span class="font-light" data-phone="{{ site.phone }}" title="{{ site.phone }}"><span class="{{ site.title | downcase }}-icons-phone"></span>{{ site.phone }}</span>
				</div>
			</div>
		</div>
	</div>
</section>
