<section id="previous-next" class="container-full">
	<nav class="container container-padding-only">
		<ul class="unstyle tiles-container-10 vertical-collapse">
			<li class="column s50 m50 l50"><a href="#" class="uppercase light"><span class="{{ site.title | downcase }}-icons-left small"></span> Previous <span class="s-hide">result</span></a></li>
			<li class="column s50 m50 l50 text-right"><a href="#" class="uppercase light">Next <span class="s-hide">result</span> <span class="{{ site.title | downcase }}-icons-right small"></span></a></li>
		</ul>
	</nav>
</section>
