<article class="column s100 m50 l50">
	<div class="saved-search">
		<div class="tiles-container-10 s-space-5 vertical-collapse">
			<div class="column s100 m100 l100">
				<div class="h3">{{ save.headline }}</div>
			</div>

			<div class="column s100 m100 l100">
				<table class="inline-block s100 m100 l100">
					<tbody class="inline-block s100 m100 l100">
						<tr class="inline-block s100 m100 l100">
							<td class="inline-block s50 m50 l50"><div class="trim-text bold">Hersteller</div></td>
							<td class="inline-block s50 m50 l50"><div class="trim-text">{{ site.title }}</div></td>
						</tr>
						<tr class="inline-block s100 m100 l100">
							<td class="inline-block s50 m50 l50"><div class="trim-text bold">Modell</div></td>
							<td class="inline-block s50 m50 l50"><div class="trim-text">i20</div></td>
						</tr>
						<tr class="inline-block s100 m100 l100">
							<td class="inline-block s50 m50 l50"><div class="trim-text bold">Fahrzeugtyp</div></td>
							<td class="inline-block s50 m50 l50"><div class="trim-text">Gebrauchtwagen</div></td>
						</tr>
						<tr class="inline-block s100 m100 l100">
							<td class="inline-block s50 m50 l50"><div class="trim-text bold">Preis</div></td>
							<td class="inline-block s50 m50 l50"><div class="trim-text">bis 20.000 €</div></td>
						</tr>
						<tr class="inline-block s100 m100 l100">
							<td class="inline-block s50 m50 l50"><div class="trim-text bold">Erstzulassung</div></td>
							<td class="inline-block s50 m50 l50"><div class="trim-text">01.2016</div></td>
						</tr>
						<tr class="inline-block s100 m100 l100">
							<td class="inline-block s50 m50 l50"><div class="trim-text bold">Kilometer</div></td>
							<td class="inline-block s50 m50 l50"><div class="trim-text">5.000 km</div></td>
						</tr>
						<tr class="inline-block s100 m100 l100">
							<td class="inline-block s50 m50 l50"><div class="trim-text bold">Kraftstoff</div></td>
							<td class="inline-block s50 m50 l50"><div class="trim-text">Diesel</div></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="column s100 m100 l100">
				<div class="tiles-container-5">
					<div class="column s100 m50 l50">
						<a href="#" class="button btn-secondary block">Delete result <span class="{{ site.title | downcase }}-icons-pointer-right"></span></a>
					</div>

					<div class="column s100 m50 l50">
						<a href="#" class="button btn-primary block">Show result <span class="{{ site.title | downcase }}-icons-pointer-right"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
