<div class="column s100 m40 l25">
	<div class="tiles-container-15">
		<div class="column block">
			<div class="tiles-container-3">
				<div class="column block">
					<div class="h5 bold">My 2nd Move</div>
				</div>

				<div class="column block">
					<a href="#" class="button btn-sidebar btn-secondary block" title="Personal information">Personal information <span class="{{ site.title | downcase }}-icons-pointer-right h6"></span></a>
				</div>

				<div class="column block">
					<a href="#" class="button btn-sidebar btn-secondary block" title="Update password">Update password <span class="{{ site.title | downcase }}-icons-pointer-right h6"></span></a>
				</div>
			</div>
		</div>

		<div class="column block">
			<div class="tiles-container-3">
				<div class="column block">
					<div class="h5 bold">My selection</div>
				</div>

				<div class="column block">
					<a href="#" class="button btn-sidebar btn-secondary block" title="My selection">My selection <span class="{{ site.title | downcase }}-icons-pointer-right h6"></span></a>
				</div>

				<div class="column block">
					<a href="#" class="button btn-sidebar btn-secondary block" title="Comparison list">Comparison list <span class="{{ site.title | downcase }}-icons-pointer-right h6"></span></a>
				</div>
			</div>
		</div>

		<div class="column block">
			<div class="tiles-container-3">
				<div class="column block">
					<div class="h5 bold">My saved searches</div>
				</div>

				<div class="column block">
					<a href="#" class="button btn-sidebar btn-secondary block" title="Saved searches">Saved searches <span class="{{ site.title | downcase }}-icons-pointer-right h6"></span></a>
				</div>

				<div class="column block">
					<a href="#" class="button btn-sidebar btn-primary block" title="Alerts">Alerts <span class="{{ site.title | downcase }}-icons-pointer-right h6"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
