<section class="container-full pos-relative gradient">
	<div class="container">
		<div class="tiles-container-15 s-space-5 m-space-10">
			<div class="column s100 m100 lm50 l50">
				<div class="tiles-container-1">
					<div class="column s100 m100 l100">
						<div class="uppercase h4">Your latest search</div>
					</div>

					<div class="column s100 m100 l100">
						<div class="uppercase headline highlight">Volvo XC60</div>
					</div>

					<div class="column s100 m100 l100">
						<figure class="responsive format-4x3 position-custom">
							<img src="modix-datadir/img/4x3/form-last-search-4x3.png" alt="{{ site.title }} - Placeholder" class="img-responsive h-v-center"/>
						</figure>
					</div>
				</div>
			</div>

			<div class="column s100 m100 lm50 l50">
				<form class="mdx-search-form">
					<div class="tiles-container-15 s-space-5 m-space-10">
						<div class="column s100 m50 l50">
							<div class="tiles-container-1">
								<div class="column s100 m100 l100">
									<label class="label inline-block l100 m100 s100">Models</label>
								</div>

								<div class="column s100 m100 l100">
									<select>
										<option value="" selected="selected">Add Models</option>
									{% for footer in site.data.footer | offset:1 %}
										{% for anchor in footer.anchor %}
											<option value="Volvo {{ anchor.link }}">Volvo {{ anchor.link }}</option>
										{% endfor %}
									{% endfor %}
									</select>
								</div>
							</div>
						</div>

						<div class="column s100 m50 l50">
							<div class="tiles-container-1">
								<div class="column s100 m100 l100">
									<label class="label inline-block">Selected Models</label>
								</div>

								<div class="column s100 m100 l100">
									<ul class="unstyle tiles-container-10">
									{% for footer in site.data.footer | offset:1 %}
										{% for anchor in footer.anchor | limit:2 %}
											<li class="column">
												<a href="#" class="inline-block" title="Remove {{ anchor.link }}">
													<div class="selected-model">{{ anchor.link }}</div>
													<span class="size-xs bold">Remove</span>
												</a>
											</li>
										{% endfor %}
									{% endfor %}
									</ul>
								</div>
							</div>
						</div>

				{% for form in site.data.search | limit:4 %}
						<div class="column s100 m50 lm100 l50">
							<div class="tiles-container-1">
								<div class="column s100 m100 l100">
									<label class="label inline-block">{{ form.label }}</label>
								</div>

								<div class="column s100 m100 l100 pos-relative">
									<div class="range-container">
										<span class="from"></span>
										<span class="to"></span>
									</div>

									<input type="hidden" name="from" value="" class="inputFrom">
									<input type="hidden" name="to" value="" class="inputTo">
									<div class="slider" data-settings="{ 'range': { 'min': {{ form.min }}, 'max': {{ form.max }} }, 'start': [0,120000], 'step': {{ form.step }} }" data-format="[ { 'prefix' : '', 'postfix': ' {{ form.unit }}', 'emptifyMin' : '', 'decimalSep' : '.', 'groupSep' : '{{ form.group }}' }, { 'prefix' : '–&nbsp;', 'postfix': ' {{ form.unit }}', 'emptifyMax' : '', 'decimalSep' : '.', 'groupSep' : '{{ form.group }}' } ]"></div>
								</div>
							</div>
						</div>
				{% endfor %}

						<div class="column s100 m50 l50">
							<div class="columns-container-10">
								<div class="column s50 m33 l33">
									<div class="tiles-container-1">
										<div class="column s100 m100 l100">
											<label class="label inline-block l100 m100 s100">Postcode</label>
										</div>

										<div class="column s100 m100 l100">
											<input type="text" placeholder="N10AA" class="inline-block s100 m100 l100">
										</div>
									</div>
								</div>

								<div class="column s50 m66 l66">
									<div class="tiles-container-1">
										<div class="column s100 m100 l100">
											<label class="label inline-block l100 m100 s100">Radius</label>
										</div>

										<div class="column s100 m100 l100">
											<select>
												<option value="" selected="selected">Add Models</option>
												<option value="Placeholder 01">Placeholder 01</option>
												<option value="Placeholder 02">Placeholder 02</option>
												<option value="Placeholder 03">Placeholder 03</option>
												<option value="Placeholder 04">Placeholder 04</option>
												<option value="Placeholder 05">Placeholder 05</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

					{% for select in site.data.search | offset:4 limit:3 %}
						<div class="column s100 m50 l50">
							<div class="tiles-container-1">
								<div class="column s100 m100 l100">
									<label class="label inline-block l100 m100 s100">{{ select.label}}</label>
								</div>
								<div class="column s100 m100 l100">
									<select>
										<option value="" selected="selected">{{ select.selected }}</option>
										<option value="Placeholder 01">Placeholder 01</option>
										<option value="Placeholder 02">Placeholder 02</option>
										<option value="Placeholder 03">Placeholder 03</option>
										<option value="Placeholder 04">Placeholder 04</option>
										<option value="Placeholder 05">Placeholder 05</option>
									</select>
								</div>
							</div>
						</div>
					{% endfor %}

						<div class="column s100 m50 l50">
							<a href="#" class="button btn-secondary s100 m100 l100">Advanced Search</a>
						</div>

						<div class="column s100 m50 l50">
							<a href="#" class="button btn-primary s100 m100 l100">View 95 results</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
