<section class="container-full">
	<div class="container">
		<div class="dynamic-vertical-padding-60-30">
			<div class="tiles-container-15">
				<div class="column block text-center">
					<h1 class="uppercase highlight">{{ site.title }}-Styleguide</h1>
				</div>

				<div class="column block text-center">
					<h1 class="regular">H1 {{ site.title }}-regular 40px</h1>
				</div>

				<div class="column block text-center">
					<h2 class="regular">H2 {{ site.title }}-regular 30px</h2>
				</div>

				<div class="column block text-center">
					<h3 class="regular">H3 {{ site.title }}-regular 28px</h3>
				</div>

				<div class="column block text-center">
					<h4 class="regular">H4 {{ site.title }}-regular 20px</h4>
				</div>

				<div class="column block text-center">
					<h5 class="regular">H5 {{ site.title }}-regular 18px</h5>
				</div>

				<div class="column block text-center">
					<h6 class="regular">H6 {{ site.title }}-regular 16px</h6>
				</div>

				<div class="column block text-center">
					<p>Paragraph Arial 14px</p>
				</div>

				<div class="column block text-center">
					<p class="small">Small 12px</p>
				</div>

				<div class="column l33">
					<h3 class="uppercase font-light">{{ site.title }}-light</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam harum dolores modi consectetur nam minus incidunt eius nemo vitae optio ex temporibus dolor repellendus nulla error alias cumque voluptates, soluta.</p>
				</div>

				<div class="column l33">
					<h3 class="uppercase font-regular">{{ site.title }}-regular</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam harum dolores modi consectetur nam minus incidunt eius nemo vitae optio ex temporibus dolor repellendus nulla error alias cumque voluptates, soluta.</p>
				</div>

				<div class="column l33">
					<h3 class="uppercase font-bold">{{ site.title }}-bold</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam harum dolores modi consectetur nam minus incidunt eius nemo vitae optio ex temporibus dolor repellendus nulla error alias cumque voluptates, soluta.</p>
				</div>

				<div class="column l25">
					<div style="padding: 30px 15px; width: 100%; display: inline-block; color: white; background-color: #efefef" class="text-center h5">
						$gray = #efefef
					</div>
				</div>

				<div class="column l25">
					<div style="padding: 30px 15px; width: 100%; display: inline-block; color: white; background-color: #e0e0e0" class="text-center h5">
						$lightGray = #e0e0e0
					</div>
				</div>

				<div class="column l25">
					<div style="padding: 30px 15px; width: 100%; display: inline-block; color: white; background-color: #757575" class="text-center h5">
						$mediumGray = #757575
					</div>
				</div>

				<div class="column l25">
					<div style="padding: 30px 15px; width: 100%; display: inline-block; color: white; background-color: #333333" class="text-center h5">
						$darkGray = #333333
					</div>
				</div>

				<div class="column block">
					<div class="tiles-container-15">
						<div class="column s100">
							<a href="#" class="button btn-primary">btn-primary</a>
						</div>

						<div class="column s100">
							<a href="#" class="button btn-secondary">btn-secondary</a>
						</div>

						<div class="column s100">
							<a href="#" class="button btn-icon"><span class="{{ site.title | downcase }}-icons-cross"></span> btn-icon</a>
						</div>
					</div>
				</div>

				<div class="column block">
					<div class="tiles-container-15">
						<div class="column s100">
							<label>
								<input type="radio" name="radio">
								<span class="mark"></span><span class="label">Radio</span>
							</label>
						</div>

						<div class="column s100">
							<label>
								<input type="radio" name="radio" checked="">
								<span class="mark"></span><span class="label">Radio checked</span>
							</label>
						</div>

						<div class="column s100">
							<label>
								<input type="radio" name="radio" disabled="">
								<span class="mark"></span><span class="label">Radio disabled</span>
							</label>
						</div>
					</div>
				</div>

				<div class="column block">
					<div class="tiles-container-15">
						<div class="column s100">
							<label for="checkbox-01">
								<input type="checkbox" name="checkbox-01" id="checkbox-01">
								<span class="mark"></span><span class="label">Checkbox</span>
							</label>
						</div>

						<div class="column s100">
							<label for="checkbox-02">
								<input type="checkbox" name="checkbox-02" id="checkbox-02" checked="">
								<span class="mark"></span><span class="label">Checkbox checked</span>
							</label>
						</div>

						<div class="column s100">
							<label for="checkbox-03">
								<input type="checkbox" name="checkbox-03" id="checkbox-03" disabled="">
								<span class="mark"></span><span class="label">Checkbox disabled</span>
							</label>
						</div>

						<div class="column s100">
							<label for="checkbox-04">
								<input type="checkbox" name="checkbox-04" id="checkbox-04" checked="" disabled="">
								<span class="mark"></span><span class="label">Checkbox checked disabled</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
