.facebook:hover {
	color: #29487d;
}

.twitter:hover {
	color: #1da1f2;
}

.youtube:hover {
	color: #e62117;
}

.instagram:hover {
	color: #262626;
}

.google:hover {
	color: #fbbc05;
}

.linkedin:hover {
	color: #0077b5;
}

.pinterest:hover {
	color: #bd081c;
}

.tumblr:hover {
	color: #56bc8a;
}

.vimeo:hover {
	color: #17272E;
}

.xing:hover {
	color: #006567;
}